@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body {
    background: #020305;
    color: #5576aa;
    font-size: 1.3rem;
    font-family: 'Fira Code', monospace;
    padding: 2rem;
}

a,
a:link,
a:visited
{
    text-decoration: none;
    color: #aa8955;
}

a:hover {
    color: #55a0aa;
}


a:active,
.roady-success-message {
    color: #55aa5f;
}
input[type=text], input[type=url], select, input[type=range] {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  border: 0.2rem solid #030302;
  border-radius: 0.72rem;
  box-sizing: border-box;
}

input[type=text], 
input[type=url], 
input[type=submit], 
select, 
option {
  background-color: #5576aa;
  text-shadow: -1px 1px #aa8955;
  color: #020305;
  font-size: 1rem;
}

input[type=submit], select, option {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #55aa5f;
}

