/**
 * This stylesheet defines heights and widths.
 */

.roady-3-column-grid img {
    height: auto;
    width: 100%;
}

.roady-form input[type=text],
.roady-form input[type=submit],
.roady-form textarea,
.roady-form select {
    width: 100%;
}

