/**
 * This stylesheet defines heights and widths.
 */

.roady-app-output-container-grid img {
    height: auto;
    width: 100%;
}

.roady-form-input  {
    height: 3vh;
}

.roady-form select {
    width: 100%;
}
