/**
 * This stylesheet defines colors and background-colors.
 *
 */

:root {
    /** Black and White **/
    --black: #020203;
    --white: #dedede;

    /** dark */
    --dark-tone-analagous-color-1: #07020E;
    --dark-tone-analagous-color-2: #02090E;
    --dark-tone-base-color: #161b21;
    --dark-tone-complimentery-color: #0E0D02;
    --dark-tone-monochromatic-color: #080D3B;
    --dark-tone-tetradic-color-1: #0E0209;
    --dark-tone-tetradic-color-2: #0E0D02;
    --dark-tone-tetradic-color-3: #020E07;
    --dark-tone-triadic-color-1: #0E0203;
    --dark-tone-triadic-color-2: #030E02;
    /** gray */
    --gray-tone-analagous-color-1: #E5E4ED;
    --gray-tone-analagous-color-2: #E4EDED;
    --gray-tone-base-color: #9fc0e8;
    --gray-tone-complimentery-color: #EDE9E4;
    --gray-tone-monochromatic-color: #C5CED9;
    --gray-tone-tetradic-color-1: #EDE4ED;
    --gray-tone-tetradic-color-2: #EDE9E4;
    --gray-tone-tetradic-color-3: #E4EDE5;
    --gray-tone-triadic-color-1: #EDE4E8;
    --gray-tone-triadic-color-2: #E8EDE4;
    /** light */
    --light-tone-analagous-color-1: #AB7CEC;
    --light-tone-analagous-color-2: #7CBDEC;
    --light-tone-base-color: #7c85ec;
    --light-tone-complimentery-color: #ECE37C;
    --light-tone-monochromatic-color: #4F5CE6;
    --light-tone-tetradic-color-1: #EC7CBD;
    --light-tone-tetradic-color-2: #ECE37C;
    --light-tone-tetradic-color-3: #7CECAB;
    --light-tone-triadic-color-1: #EC7C85;
    --light-tone-triadic-color-2: #85EC7C;
}

.roady-text-color-black {
    color: var(--black);
}

.roady-text-color-white {
    color: var(--white);
}

.roady-background-color-black {
    background-color: var(--black);
}

.roady-background-color-white {
    background-color: var(--white);
}

.roady-text-color-dark-tone-analagous-color-1 {
    color: var(--dark-tone-analagous-color-1);
}

.roady-text-color-dark-tone-analagous-color-2 {
    color: var(--dark-tone-analagous-color-2);
}

.roady-text-color-dark-tone-base-color {
    color: var(--dark-tone-base-color);
}

.roady-text-color-dark-tone-complimentery-color {
    color: var(--dark-tone-complimentery-color);
}

.roady-text-color-dark-tone-monochromatic-color {
    color: var(--dark-tone-monochromatic-color);
}

.roady-text-color-dark-tone-tetradic-color-1 {
    color: var(--dark-tone-tetradic-color-1);
}

.roady-text-color-dark-tone-tetradic-color-2 {
    color: var(--dark-tone-tetradic-color-2);
}

.roady-text-color-dark-tone-tetradic-color-3 {
    color: var(--dark-tone-tetradic-color-3);
}

.roady-text-color-dark-tone-triadic-color-1 {
    color: var(--dark-tone-triadic-color-1);
}

.roady-text-color-dark-tone-triadic-color-2 {
    color: var(--dark-tone-triadic-color-2);
}

.roady-background-color-dark-tone-analagous-color-1 {
    background-color: var(--dark-tone-analagous-color-1);
}

.roady-background-color-dark-tone-analagous-color-2 {
    background-color: var(--dark-tone-analagous-color-2);
}

.roady-background-color-dark-tone-base-color {
    background-color: var(--dark-tone-base-color);
}

.roady-background-color-dark-tone-complimentery-color {
    background-color: var(--dark-tone-complimentery-color);
}

.roady-background-color-dark-tone-monochromatic-color {
    background-color: var(--dark-tone-monochromatic-color);
}

.roady-background-color-dark-tone-tetradic-color-1 {
    background-color: var(--dark-tone-tetradic-color-1);
}

.roady-background-color-dark-tone-tetradic-color-2 {
    background-color: var(--dark-tone-tetradic-color-2);
}

.roady-background-color-dark-tone-tetradic-color-3 {
    background-color: var(--dark-tone-tetradic-color-3);
}

.roady-background-color-dark-tone-triadic-color-1 {
    background-color: var(--dark-tone-triadic-color-1);
}

.roady-background-color-dark-tone-triadic-color-2 {
    background-color: var(--dark-tone-triadic-color-2);
}

/** Gray Tones **/
.roady-text-color-gray-tone-analagous-color-1 {
    color: var(--gray-tone-analagous-color-1);
}

.roady-text-color-gray-tone-analagous-color-2 {
    color: var(--gray-tone-analagous-color-2);
}

.roady-text-color-gray-tone-base-color {
    color: var(--gray-tone-base-color);
}

.roady-text-color-gray-tone-complimentery-color {
    color: var(--gray-tone-complimentery-color);
}

.roady-text-color-gray-tone-monochromatic-color {
    color: var(--gray-tone-monochromatic-color);
}

.roady-text-color-gray-tone-tetradic-color-1 {
    color: var(--gray-tone-tetradic-color-1);
}

.roady-text-color-gray-tone-tetradic-color-2 {
    color: var(--gray-tone-tetradic-color-2);
}

.roady-text-color-gray-tone-tetradic-color-3 {
    color: var(--gray-tone-tetradic-color-3);
}

.roady-text-color-gray-tone-triadic-color-1 {
    color: var(--gray-tone-triadic-color-1);
}

.roady-text-color-gray-tone-triadic-color-2 {
    color: var(--gray-tone-triadic-color-2);
}

.roady-background-color-gray-tone-analagous-color-1 {
    background-color: var(--gray-tone-analagous-color-1);
}

.roady-background-color-gray-tone-analagous-color-2 {
    background-color: var(--gray-tone-analagous-color-2);
}

.roady-background-color-gray-tone-base-color {
    background-color: var(--gray-tone-base-color);
}

.roady-background-color-gray-tone-complimentery-color {
    background-color: var(--gray-tone-complimentery-color);
}

.roady-background-color-gray-tone-monochromatic-color {
    background-color: var(--gray-tone-monochromatic-color);
}

.roady-background-color-gray-tone-tetradic-color-1 {
    background-color: var(--gray-tone-tetradic-color-1);
}

.roady-background-color-gray-tone-tetradic-color-2 {
    background-color: var(--gray-tone-tetradic-color-2);
}

.roady-background-color-gray-tone-tetradic-color-3 {
    background-color: var(--gray-tone-tetradic-color-3);
}

.roady-background-color-gray-tone-triadic-color-1 {
    background-color: var(--gray-tone-triadic-color-1);
}

.roady-background-color-gray-tone-triadic-color-2 {
    background-color: var(--gray-tone-triadic-color-2);
}

/** Light Tones */

.roady-text-color-light-tone-analagous-color-1 {
    color: var(--light-tone-analagous-color-1);
}

.roady-text-color-light-tone-analagous-color-2 {
    color: var(--light-tone-analagous-color-2);
}

.roady-text-color-light-tone-base-color {
    color: var(--light-tone-base-color);
}

.roady-text-color-light-tone-complimentery-color {
    color: var(--light-tone-complimentery-color);
}

.roady-text-color-light-tone-monochromatic-color {
    color: var(--light-tone-monochromatic-color);
}

.roady-text-color-light-tone-tetradic-color-1 {
    color: var(--light-tone-tetradic-color-1);
}

.roady-text-color-light-tone-tetradic-color-2 {
    color: var(--light-tone-tetradic-color-2);
}

.roady-text-color-light-tone-tetradic-color-3 {
    color: var(--light-tone-tetradic-color-3);
}

.roady-text-color-light-tone-triadic-color-1 {
    color: var(--light-tone-triadic-color-1);
}

.roady-text-color-light-tone-triadic-color-2 {
    color: var(--light-tone-triadic-color-2);
}

.roady-background-color-light-tone-analagous-color-1 {
    background-color: var(--light-tone-analagous-color-1);
}

.roady-background-color-light-tone-analagous-color-2 {
    background-color: var(--light-tone-analagous-color-2);
}

.roady-background-color-light-tone-base-color {
    background-color: var(--light-tone-base-color);
}

.roady-background-color-light-tone-complimentery-color {
    background-color: var(--light-tone-complimentery-color);
}

.roady-background-color-light-tone-monochromatic-color {
    background-color: var(--light-tone-monochromatic-color);
}

.roady-background-color-light-tone-tetradic-color-1 {
    background-color: var(--light-tone-tetradic-color-1);
}

.roady-background-color-light-tone-tetradic-color-2 {
    background-color: var(--light-tone-tetradic-color-2);
}

.roady-background-color-light-tone-tetradic-color-3 {
    background-color: var(--light-tone-tetradic-color-3);
}

.roady-background-color-light-tone-triadic-color-1 {
    background-color: var(--light-tone-triadic-color-1);
}

.roady-background-color-light-tone-triadic-color-2 {
    background-color: var(--light-tone-triadic-color-2);
}

/** Elements */

.roady-3-column-grid {
}

.roady-3-column-grid-item {
}

.roady-app-output-container a {
}

.roady-app-output-container a:active {
}

.roady-app-output-container a:hover {
}

.roady-app-output-container h1 {
}

.roady-app-output-container h2 {
}

.roady-app-output-container h3 {
}

.roady-app-output-container h4 {
}

.roady-app-output-container h5 {
}

.roady-app-output-container h6 {
}

.roady-app-output-container {
}

.roady-error-message {
}

.roady-form select {
}

.roady-form {
}

.roady-form-container {
}

.roady-form-input {
}

.roady-form-input-label {
}

.roady-generic-container {
}

.roady-inline-code {
}

.roady-message {
}

.roady-multi-line-code {
}

.roady-multi-line-code-container {
}

.roady-navigation-bar a {
}

.roady-navigation-bar a:active {
}

.roady-navigation-bar a:hover {
}

.roady-navigation-bar a:link {
}

.roady-navigation-bar {
}

.roady-navigation-list a {
}

.roady-navigation-list a:active {
}

.roady-navigation-list a:hover {
}

.roady-navigation-list a:link {
}

.roady-navigation-list {
}

.roady-navigation-menu a {
}

.roady-navigation-menu a:active {
}

.roady-navigation-menu a:hover {
}

.roady-navigation-menu a:link {
}

.roady-navigation-menu {
}

.roady-note {
}

.roady-ol-list li:nth-of-type(even) {
}

.roady-ol-list li:nth-of-type(odd) {
}

.roady-success-message {
}

.roady-ul-list li:nth-of-type(even) {
}

.roady-ul-list li:nth-of-type(odd) {
}

