/**
 * This stylesheet defines font styles.
 */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Code+Pro:wght@300&family=Bebas+Neue:wght@300&display=swap');

:root {
    --font-family-code: 'Source Code Pro', monospace;
    --font-family-default: 'fira sans', sans-serif;
    --font-family-headers: 'Bebas Neue', monospace;
    --font-size-default: clamp(22px, 1.9rem, 2vw);
    --font-size-code: 0.87em;
    --font-size-messages: 0.82em;
}

.roady-app-output-container {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

.roady-app-output-container h1,
.roady-app-output-container h2,
.roady-app-output-container h3,
.roady-app-output-container h4,
.roady-app-output-container h5,
.roady-app-output-container h6 {
    font-family: var(--font-family-headers);
}

.roady-multi-line-code,
.roady-inline-code {
    font-family: var(--font-family-code);
}

.roady-multi-line-code,
.roady-inline-code {
    font-size: var(--font-size-code);
}

.roady-message,
.roady-note,
.roady-success-message,
.roady-error-message {
    font-size: var(--font-size-messages);
}

