/**
 * This stylesheet defines margins and padding.
 *
 * Only margins and padding should be defined in this stylesheet.
 *
 * Available Classes:
 *
 * roady-app-output-container
 * roady-app-output-container-grid
 * roady-app-output-container-grid-item
 * roady-inline-code
 * roady-multi-line-code
 * roady-multi-line-code-container
 * roady-navigation-bar
 * roady-navigation-list
 * roady-navigation-menu
 * roady-ol-list
 * roady-ul-list
 */

:root {
    --base-margin-and-padding-value: 3vw;
}

.roady-app-output-container {
    padding: var(--base-margin-and-padding-value);
}

.roady-app-output-container-grid,
.roady-app-output-container-grid-item,
.roady-navigation-bar,
.roady-navigation-list,
.roady-navigation-menu,
.roady-ol-list,
.roady-ul-list {
    padding: clamp(
        27px, 
        calc(
            var(--base-margin-and-padding-value) / 1.42
        ), 
        2vw
    );
}

.roady-app-output-container-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: var(--base-margin-and-padding-value);
    row-gap: calc(var(--base-margin-and-padding-value) / 3);
    margin: calc(var(--base-margin-and-padding-value) / 3) 0;
}

.roady-multi-line-code-container,
.roady-inline-code {
    padding: 0 clamp(
        0.5rem, 
        calc(
            var(--base-margin-and-padding-value) / 3 
        ), 
        2vw
    );
}

.roady-app-output-container a,
.roady-navigation-bar a,
.roady-navigation-bar a:link,
.roady-navigation-list a, 
.roady-navigation-list a:link, 
.roady-navigation-menu a,
.roady-navigation-menu a:link {
    padding: 0 clamp(
        0.2rem, 
        calc(
            var(--base-margin-and-padding-value) / 6
        ), 
        1vw
    );
}
