/**
 * This stylesheet defines colors and background-colors.
 * text-shadow may also be defined in this stylesheet.
 */

:root {
    /** black */
    --black: #020203;
    /** white **/
    --white: #dedede;
    /** dark */
    --dark-tone-base-color: #0b0f16;
    --dark-tone-complimentery-color: #16120B;
    --dark-tone-monochromatic-color: #1C2638;
    --dark-tone-analagous-color-1: #0D0B16;
    --dark-tone-analagous-color-2: #0B1416;
    --dark-tone-triadic-color-1: #160B0F;
    --dark-tone-triadic-color-2: #0F160B;
    --dark-tone-tetradic-color-1: #160B14;
    --dark-tone-tetradic-color-2: #16120B;
    --dark-tone-tetradic-color-3: #0B160C;
    /** gray */
    --gray-tone-base-color: #202025;
    --gray-tone-complimentery-color: #252520;
    --gray-tone-monochromatic-color: #383840;
    --gray-tone-analagous-color-1: #232025;
    --gray-tone-analagous-color-2: #202325;
    --gray-tone-triadic-color-1: #252020;
    --gray-tone-triadic-color-2: #202520;
    --gray-tone-tetradic-color-1: #252023;
    --gray-tone-tetradic-color-2: #252520;
    --gray-tone-tetradic-color-3: #202523;
    /** light */
    --light-tone-analagous-color-1: #AB7CEC;
    --light-tone-analagous-color-2: #7CBDEC;
    --light-tone-base-color: #7c85ec;
    --light-tone-complimentery-color: #ECE37C;
    --light-tone-monochromatic-color: #4F5CE6;
    --light-tone-tetradic-color-1: #EC7CBD;
    --light-tone-tetradic-color-2: #ECE37C;
    --light-tone-tetradic-color-3: #7CECAB;
    --light-tone-triadic-color-1: #EC7C85;
    --light-tone-triadic-color-2: #85EC7C;
}

body {
    color: var(--white);
    background-color: var(--black);
}

/* Headers */

.roady-app-output-container h1 {
    color: var(--dark-tone-base-color);
    text-shadow: 0 0 5px var(--white);
}

.roady-app-output-container h2,
.roady-app-output-container h3,
.roady-app-output-container h4,
.roady-app-output-container h5,
.roady-app-output-container h6 {
    color: var(--dark-tone-analagous-color-1);
    text-shadow: 0 0 3px var(--white);
    background-color: var(--dark-tone-monochromatic-color);
}


/* Containers */

.roady-app-output-container {
    color: var(--white);
    background-color: var(--black);
}

.roady-generic-container {
    color: var(--gray-tone-triadic-color-1);
    border-color: var(--white);
    background-color: var(--dark-tone-base-color);
}

/** Grid */

.roady-3-column-grid {
}

.roady-3-column-grid-item {
}

/* Forms */

.roady-form {
    background-color: var(--dark-tone-monochromatic-color);
    color: var(--white);
}

.roady-form select {
}

.roady-form > * {
    color: var(--white);
}

.roady-form-input {
    background: var(--gray-tone-monochromatic-color);
}

.roady-form-input-label {
}

.roady-form input[type=text],
.roady-form input[type=url],
.roady-form textarea {
    color: var(--light-tone-complimentery-color);
}

.roady-form input[type=file] {
    color: var(--light-tone-analagous-color-2);
    background: var(--dark-tone-monochromatic-color);
    border-color: var(--dark-tone-complimentery-color);
    /** @todo move to appropriate stylesheet */
    width: 100%;
    border: 0.3333333rem dotted;
    border-radius: 5%;
    padding: 1rem 42%;
}

/** Code Previews */

.roady-inline-code {
    color: var(--light-tone-tetradic-color-3);
}

.roady-multi-line-code {
    color: var(--light-tone-triadic-color-2);
}

.roady-multi-line-code-container {
}

/** Navigation */

.roady-navigation-bar {
    background-color: var(--dark-tone-monochromatic-color);
}

.roady-navigation-list {
    background-color: var(--dark-tone-monochromatic-color);
}

.roady-navigation-menu {
    background-color: var(--dark-tone-base-color);
}

.roady-sticky-navigation-menu {
    background-color: var(--dark-tone-analagous-color-1);
}

/** Links */

.roady-app-output-container a,
.roady-app-output-container a:link,
.roady-navigation-bar a,
.roady-navigation-bar a:link,
.roady-navigation-list a,
.roady-navigation-list a:link,
.roady-navigation-menu a,
.roady-navigation-menu a:link,
.roady-sticky-navigation-menu a,
.roady-sticky-navigation-menu a:link {
    color: var(--light-tone-analagous-color-2);
}

.roady-app-output-container a:hover,
.roady-navigation-bar a:hover,
.roady-navigation-list a:hover,
.roady-navigation-menu a:hover,
.roady-sticky-navigation-menu a:hover {
    color: var(--light-tone-complimentery-color);
    border-color: var(--light-tone-analagous-color-2);
}

.roady-app-output-container a:active,
.roady-navigation-bar a:active,
.roady-navigation-list a:active,
.roady-navigation-menu a:active,
.roady-sticky-navigation-menu a:active {
    color: var(--light-tone-tetradic-color-3);
}

/** Lists */

.roady-ol-list li:nth-of-type(even),
.roady-ul-list li:nth-of-type(even) {
    background-color: var(--dark-tone-monochromatic-color);
    color: var(--white);
}

.roady-ol-list li:nth-of-type(odd),
.roady-ul-list li:nth-of-type(odd) {
    background-color: var(--dark-tone-analagous-color-1);
    color: var(--light-tone-triadic-color-2);
}

/** Messages */

.roady-note {
    background-color: var(--gray-tone-monochromatic-color);
    color: var(--black);
}

.roady-message {
    background-color: var(--dark-tone-monochromatic-color);
    color: var(--white);
}

.roady-success-message {
    color: var(--dark-tone-base-color);
    background-color: var(--light-tone-triadic-color-2);
}

.roady-error-message {
    color: var(--dark-tone-base-color);
    background-color: var(--light-tone-triadic-color-1);
}

/** Media */

.roady-app-output-container audio {
    border-color: var(--dark-tone-monochromatic-color) var(--light-tone-analagous-color-2) var(--black) var(--light-tone-analagous-color-2);
    background: rgb(11,15,22);
    background: linear-gradient(180deg, rgba(11,15,22,1) 0%, rgba(22,18,11,1) 12%, rgba(32,32,37,1) 35%, rgba(124,189,236,1) 52%, rgba(80,119,153,1) 63%, rgba(32,32,37,1) 70%, rgba(28,38,56,1) 100%);
}

/** Color Previews */

.roady-color-preview {
    border-color: var(--white);
}

/** Dark Tones */

.roady-text-color-black {
    color: var(--black);
}

.roady-text-color-white {
    color: var(--white);
}

.roady-background-color-black {
    background-color: var(--black);
}

.roady-background-color-white {
    background-color: var(--white);
}

.roady-text-color-dark-tone-analagous-color-1 {
    color: var(--dark-tone-analagous-color-1);
}

.roady-text-color-dark-tone-analagous-color-2 {
    color: var(--dark-tone-analagous-color-2);
}

.roady-text-color-dark-tone-base-color {
    color: var(--dark-tone-base-color);
}

.roady-text-color-dark-tone-complimentery-color {
    color: var(--dark-tone-complimentery-color);
}

.roady-text-color-dark-tone-monochromatic-color {
    color: var(--dark-tone-monochromatic-color);
}

.roady-text-color-dark-tone-tetradic-color-1 {
    color: var(--dark-tone-tetradic-color-1);
}

.roady-text-color-dark-tone-tetradic-color-2 {
    color: var(--dark-tone-tetradic-color-2);
}

.roady-text-color-dark-tone-tetradic-color-3 {
    color: var(--dark-tone-tetradic-color-3);
}

.roady-text-color-dark-tone-triadic-color-1 {
    color: var(--dark-tone-triadic-color-1);
}

.roady-text-color-dark-tone-triadic-color-2 {
    color: var(--dark-tone-triadic-color-2);
}

.roady-background-color-dark-tone-analagous-color-1 {
    background-color: var(--dark-tone-analagous-color-1);
}

.roady-background-color-dark-tone-analagous-color-2 {
    background-color: var(--dark-tone-analagous-color-2);
}

.roady-background-color-dark-tone-base-color {
    background-color: var(--dark-tone-base-color);
}

.roady-background-color-dark-tone-complimentery-color {
    background-color: var(--dark-tone-complimentery-color);
}

.roady-background-color-dark-tone-monochromatic-color {
    background-color: var(--dark-tone-monochromatic-color);
}

.roady-background-color-dark-tone-tetradic-color-1 {
    background-color: var(--dark-tone-tetradic-color-1);
}

.roady-background-color-dark-tone-tetradic-color-2 {
    background-color: var(--dark-tone-tetradic-color-2);
}

.roady-background-color-dark-tone-tetradic-color-3 {
    background-color: var(--dark-tone-tetradic-color-3);
}

.roady-background-color-dark-tone-triadic-color-1 {
    background-color: var(--dark-tone-triadic-color-1);
}

.roady-background-color-dark-tone-triadic-color-2 {
    background-color: var(--dark-tone-triadic-color-2);
}

/** Gray Tones **/

.roady-text-color-gray-tone-analagous-color-1 {
    color: var(--gray-tone-analagous-color-1);
}

.roady-text-color-gray-tone-analagous-color-2 {
    color: var(--gray-tone-analagous-color-2);
}

.roady-text-color-gray-tone-base-color {
    color: var(--gray-tone-base-color);
}

.roady-text-color-gray-tone-complimentery-color {
    color: var(--gray-tone-complimentery-color);
}

.roady-text-color-gray-tone-monochromatic-color {
    color: var(--gray-tone-monochromatic-color);
}

.roady-text-color-gray-tone-tetradic-color-1 {
    color: var(--gray-tone-tetradic-color-1);
}

.roady-text-color-gray-tone-tetradic-color-2 {
    color: var(--gray-tone-tetradic-color-2);
}

.roady-text-color-gray-tone-tetradic-color-3 {
    color: var(--gray-tone-tetradic-color-3);
}

.roady-text-color-gray-tone-triadic-color-1 {
    color: var(--gray-tone-triadic-color-1);
}

.roady-text-color-gray-tone-triadic-color-2 {
    color: var(--gray-tone-triadic-color-2);
}

.roady-background-color-gray-tone-analagous-color-1 {
    background-color: var(--gray-tone-analagous-color-1);
}

.roady-background-color-gray-tone-analagous-color-2 {
    background-color: var(--gray-tone-analagous-color-2);
}

.roady-background-color-gray-tone-base-color {
    background-color: var(--gray-tone-base-color);
}

.roady-background-color-gray-tone-complimentery-color {
    background-color: var(--gray-tone-complimentery-color);
}

.roady-background-color-gray-tone-monochromatic-color {
    background-color: var(--gray-tone-monochromatic-color);
}

.roady-background-color-gray-tone-tetradic-color-1 {
    background-color: var(--gray-tone-tetradic-color-1);
}

.roady-background-color-gray-tone-tetradic-color-2 {
    background-color: var(--gray-tone-tetradic-color-2);
}

.roady-background-color-gray-tone-tetradic-color-3 {
    background-color: var(--gray-tone-tetradic-color-3);
}

.roady-background-color-gray-tone-triadic-color-1 {
    background-color: var(--gray-tone-triadic-color-1);
}

.roady-background-color-gray-tone-triadic-color-2 {
    background-color: var(--gray-tone-triadic-color-2);
}

/** Light Tones */

.roady-text-color-light-tone-analagous-color-1 {
    color: var(--light-tone-analagous-color-1);
}

.roady-text-color-light-tone-analagous-color-2 {
    color: var(--light-tone-analagous-color-2);
}

.roady-text-color-light-tone-base-color {
    color: var(--light-tone-base-color);
}

.roady-text-color-light-tone-complimentery-color {
    color: var(--light-tone-complimentery-color);
}

.roady-text-color-light-tone-monochromatic-color {
    color: var(--light-tone-monochromatic-color);
}

.roady-text-color-light-tone-tetradic-color-1 {
    color: var(--light-tone-tetradic-color-1);
}

.roady-text-color-light-tone-tetradic-color-2 {
    color: var(--light-tone-tetradic-color-2);
}

.roady-text-color-light-tone-tetradic-color-3 {
    color: var(--light-tone-tetradic-color-3);
}

.roady-text-color-light-tone-triadic-color-1 {
    color: var(--light-tone-triadic-color-1);
}

.roady-text-color-light-tone-triadic-color-2 {
    color: var(--light-tone-triadic-color-2);
}

.roady-background-color-light-tone-analagous-color-1 {
    background-color: var(--light-tone-analagous-color-1);
}

.roady-background-color-light-tone-analagous-color-2 {
    background-color: var(--light-tone-analagous-color-2);
}

.roady-background-color-light-tone-base-color {
    background-color: var(--light-tone-base-color);
}

.roady-background-color-light-tone-complimentery-color {
    background-color: var(--light-tone-complimentery-color);
}

.roady-background-color-light-tone-monochromatic-color {
    background-color: var(--light-tone-monochromatic-color);
}

.roady-background-color-light-tone-tetradic-color-1 {
    background-color: var(--light-tone-tetradic-color-1);
}

.roady-background-color-light-tone-tetradic-color-2 {
    background-color: var(--light-tone-tetradic-color-2);
}

.roady-background-color-light-tone-tetradic-color-3 {
    background-color: var(--light-tone-tetradic-color-3);
}

.roady-background-color-light-tone-triadic-color-1 {
    background-color: var(--light-tone-triadic-color-1);
}

.roady-background-color-light-tone-triadic-color-2 {
    background-color: var(--light-tone-triadic-color-2);
}

