
* {
    box-sizing: border-box;
}

.rr-docs-container {
    background: #140a09;
    background-image: linear-gradient(45deg, #00bbff 25%, transparent 25%), linear-gradient(-45deg, #020203 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #00bbff 75%), linear-gradient(-45deg, transparent 75%, #020203 75%);
    background-position: 0 0, 0 10rem, 10rem -10rem, -10rem 0rem;
    background-size: 10rem 10rem;
    color: white;
    font-size: 1.2rem;
}

.rr-docs-output {
    margin: 0 auto;
    width: 87%;
    background: black;
    opacity: 0.87;
    padding: 3rem;
}

.rr-docs-file-path {
    background: #283b38;
    color: #ffccb9;
    font-family: monospace;
    font-size: .7rem;
    padding: .2rem .4rem;
}

.rr-docs-code {
    background: #28353b;
    color: #c9ffb9;
    font-family: monospace;
    font-size: .9rem;
    padding: .2rem .4rem;
}

.rr-docs-code:hover, .rr-docs-file-path:hover {
    color: white;
}

.rr-docs-container a, .rr-docs-container a:link {
    color: #86dfff;
    text-decoration: none;
}

.rr-docs-container a:visited {
    color: #b9ecff;
}

.rr-docs-container a:hover {
    color: #00bbff;
}

.rr-docs-container a:active {
    color: #b9c9ff;
}

