:root {
    --color-analogous-1: #2642D9;
    --color-analogous-2: #26D9BD;
    --color-complimentary: #d96426;
    --color-default: #269bd9;
    --color-monochromatic: #51afe1;
    --color-tetradic-1: #bd26d9;
    --color-tetradic-2: #D96426;
    --color-tetradic-3: #42D926;
    --color-triadic-1: #d9269b;
    --color-triadic-2: #9bd926;
}

.roady-app-output-container {
    color: var(--color-default);
}

.roady-app-output-container pre {
    color: var(--color-complimentary);
}

.roady-app-output-container p {
    color: var(--color-monochromatic);
}

.roady-app-output-container h1 {
    color: var(--color-analogous-1);
}

.roady-app-output-note-container {
    color: var(--color-analogous-2);
}
