@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root {
    --font-size-default: 1.7rem;
    --font-family-default: 'Fira Code', monospace;
}

.roady-app-output-container {
    font-size: var(--font-size-default);
    font-family: var(--font-family-default);
}

.roady-app-output-example-container,
.roady-app-output-note-container p,
.roady-app-output-container pre {
    font-size: 0.87rem;
}
