:root {
    --container-margin-default: 0 auto;
    --container-padding-default: 4.2vw;
}

.roady-app-output-container pre,
.roady-app-output-example-container,
.roady-app-output-container {
    margin: var(--container-margin-default);
    padding: calc(var(--container-padding-default) / 2);
}


.roady-app-output-example-container {
    margin-bottom: 2rem;
}
