
:root {
    /** --background-color-default: #061a25; */
    --background-color-default: #09090c;
    --background-color-complimentary: #251106;
    --background-color-monochromatic: #0D3951;
    --background-color-analogous-1: #060A25;
    --background-color-analogous-2: #062521;
    --background-color-triadic-1: #25061A;
    --background-color-triadic-2: #1A2506;
    --background-color-tetradic-1: #210625;
    --background-color-tetradic-2: #251106;
    --background-color-tetradic-3: #0A2506;
    --background-color-pre: #121720;
    --background-color-examples: #1a1d23;
}

.roady-app-output-container {
    background: var(--background-color-default);
}

.roady-app-output-container pre {
    background: var(--background-color-pre);
}

.roady-app-output-example-container {
    background: var(--background-color-examples);
}

