
.app-packager-app-packager-output-container {
    background: #140a09;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
}

/**
 * .app-packager-app-packager-output
 * Main container div for all AppPackager output.
 */
.app-packager-app-packager-output {
    background: #020203;
    color: #00bbff;
    font-family: monospace;
    font-size: 1.3rem;
    min-height: calc(100vh - 0px);
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.app-packager-error-message {
    color: red;
}

.app-packager-message {
    border-bottom: 1px solid #9fafaf;
    border-radius: .5rem;
    margin: .5rem auto;
    overflow: auto;
    padding: .3rem;
}

.app-packager-select-form-label,
.app-packager-message,
.app-packager-content,
.app-packager-submit-button, .app-packager-select-form {
    width: 87%;
}

.app-packager-code-preview {
    background: #030302;
    color: #afa79f;
    display: block;
    font-size: .5rem;
    padding: 1rem;
}

.app-packager-select-form-label {
    color: #00bbff;
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
    font-size: 1rem;
}

.app-packager-submit-button, .app-packager-select-form {
    border: 1px solid #999;
    font-size: .7rem;
    color: #00bbff;
    background-color: #020203;
    border-radius: 1rem 1rem 0 0;
    padding: .3rem;
    margin: .5rem auto;
    display: block;
    padding: 0.5rem;
}

.app-packager-submit-button:hover, .app-packager-select-form:hover {
    background-color: #09131d;
    cursor: pointer;
}

.app-packager-make-file-preview {
    color: #a79faf;
}

.app-packager-submit-button {
}

.makeFileOutput {
    color: limegreen;
}

.app-packager-content {
    margin: 0 auto;
    font-size: 0.9rem;
}

.app-packager-content p {
    color: #f3f9fc;
    opacity: .7;
}
