:root {
    --color-black-alt1: #030302;
    --color-black-alt2: #030203;
    --color-black: #020203;
    --color-blue-alt1: #45bbe6;
    --color-blue: #80ddff;
    --color-dark-blue-alt1: #2c728c;
    --color-dark-blue: #5590a6;
    --color-dark-dark-purple-alt1: #a65573;
    --color-dark-dark-yellow: #a69755;
    --color-dark-green: #55a66b;
    --color-dark-orange-alt1: #a68355;
    --color-dark-orange: #a66f55;
    --color-dark-purple: #6055a6;
    --color-dark-red: #a65b55;
    --color-green: #80ffa2;
    --color-orange1-alt1: #ffc880;
    --color-orange: #ffa880;
    --color-purple-alt1: #d080ff;
    --color-purple-alt2: #d080ff;
    --color-purple-alt3: #8855a6;
    --color-purple: #9180ff;
    --color-red: #ff8880;
    --color-dark-red: #af5752;
    --color-white: #fafafe;
    --color-yellow: #ffe880;
    --default-font-size: 1.32rem;
    --gradient-black-blue-black: repeating-linear-gradient(
        50deg,
        var(--color-black) 72%,
        var(--color-blue) 2%,
        var(--color-black)
    );
    --gradient-blacks-to-blue: linear-gradient(
            to left,
            var(--color-black) 87%,
            var(--color-black-alt1),
            var(--color-black-alt2),
            var(--color-black),
            var(--color-dark-blue-alt1)
        );
    --gradient-links-blue-black-blue: linear-gradient(
            120deg,
            var(--color-dark-blue-alt1),
            var(--color-black-alt1),
            var(--color-black),
            var(--color-black-alt1),
            var(--color-dark-blue-alt1)
        );
    --gradient-links-orange-black-orange: linear-gradient(
            120deg,
            var(--color-dark-orange),
            var(--color-black-alt1),
            var(--color-black),
            var(--color-black-alt1),
            var(--color-dark-orange)
        );
    --gradient-links-purple-black-purple: linear-gradient(
            120deg,
            var(--color-purple),
            var(--color-black-alt1),
            var(--color-black),
            var(--color-black-alt1),
            var(--color-purple)
        );
    --gradient-links-green-black-green: linear-gradient(
            120deg,
            var(--color-green),
            var(--color-black-alt1),
            var(--color-black),
            var(--color-black-alt1),
            var(--color-green)
        );
}

/** Elements **/
html, body, .documentation-output-menu-container ul {
    background-image: url("https://ddmsmedia.us-east-1.linodeobjects.com/main-background.png");
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.documentation-output-container code {
    color: var(--color-green);
    word-wrap: break-word;
    font-size: .7rem;
    background: #181818;
    padding: 0.1rem 0.5rem;
}

/** Lists **/
.documentation-output-container ul, .documentation-output-menu-container ul {
    list-style-type: none;
}

.documentation-output-menu-container ul {
    color: var(--color-blue);
    border-bottom: 5px groove var(--color-dark-orange);
}

.documentation-output-menu-container li {
    background-image: var(--gradient-links-blue-black-blue);
}

.documentation-output-menu-container li:last-child {
    background-image: var(--gradient-links-purple-black-purple);
}

.documentation-output-menu-container li:hover {
    background-image: var(--gradient-links-orange-black-orange);
}
/** End Lists **/

/** Links **/
.documentation-output-container a,
.documentation-output-container a:link,
.documentation-output-container a:visited {
    color: var(--color-blue);
    text-decoration: none;
}


.documentation-output-container a:hover {
    color: var(--color-orange);
}

.documentation-output-container a:focus {
    color: var(--color-orange);
    border: 1px solid var(--color-blue);
    border-radius: 0.5em;
    padding: 0.2em;
}

.documentation-output-container a:active {
    color: var(--color-white);
}
/** End Links **/

/** Images  **/
.documentation-demo-gif {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
/** End Images  **/

/** Backgrounds */
.documentation-background-black-blue-black {
    background-image: var(--gradient-black-blue-black);
    opacity: .73;
}

/** Containers  **/
.documentation-output-container {
    color: var(--color-white);
    font-family: monospace;
    font-size: var(--default-font-size);
    letter-spacing: 0.1rem;
}

.documentation-output-menu-container {
    text-align: center;
    font-size: 1.2em;
}

.documentation-sticky-top {
    z-index: 1000;
    position: sticky;
    margin-bottom: 1.42em;
    top: 0;
}

.documentation-sticky-top-position2 {
    z-index: 1000;
    position: sticky;
    margin-bottom: 1.42em;
    top: 4.2em;
}

.documentation-full-height {
    min-height: calc(100vh - 0px);
}

.documentation-output-content-container {
    background: var(--color-black);
    opacity: .87;
    margin: 0 auto;
    width: 87%;
    padding: 1em;
}

.documentation-output-content-container h1,
.documentation-output-content-container h2,
.documentation-output-content-container h3,
.documentation-output-content-container h4 {
    text-align: center;
}

/** End Containers  **/

.documentation-note {
    color: var(--color-purple);
    font-size: .87rem;
    border: 1px solid var(--color-blue-alt1);
    border-radius: 0.7em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.documentation-important-text {
    color: var(--color-dark-red);
    font-size: .92rem;
    border: 1px solid var(--color-orange);
    border-radius: 0.7em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.documentation-file-name {
    color: var(--color-dark-orange);
}

.documentation-directory-name {
    color: var(--color-dark-dark-yellow);
}


.documentation-output-content-container dt {
    margin: 1em auto;
}

.documentation-output-content-container dd {
    width: 94%;
    margin: 0.42em auto;
}
