
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Source+Code+Pro:wght@300&display=swap');

/**
 * rr-docs-global.css
 *
 * This stylesheet defines styles for the
 * RoadyAndRigDocumentation App.
 *
 * Style definition sections:
 * (listed to make it easy to search this document)
 *
 * Resets
 * Generic
 * Container Styles
 * Text Styles
 * Browser Elements
 * Links
 * Sticky Elements
 * Menus
 */

:root {
    --background-color-body-default: #030208;
    --background-color-docs-code-ml-container: #121720;
    --background-color-docs-container: #030208;
    --background-color-docs-grid-30-70: #09090c;
    --background-color-docs-logo: none;
    --background-color-docs-output: #09090c;
    --background-color-docs-plaintext: none;
    --background-color-docs-rig-menu: none;
    --background-color-note-container: #1a1d23;
    --border-color-headers: #d59853;
    --font-family-code: 'Source Code Pro', monospace;
    --font-family-default: 'Fira Sans', sans-serif;
    --font-size-default: 1.42rem;
    --margin-centered: 0 auto;
    --margin-note-right-left: 2rem;
    --padding-note-container-default: 1rem;
    --padding-note-container-hover: 1.7rem;
    --text-color-default: #fff8e8;
    --text-color-docs-code-ml: #467c79;
    --text-color-docs-code: #467c79;
    --text-color-docs-tiny-msg: #5f7975;
    --text-color-link-active: #47e9b2;
    --text-color-link-hover: #e96147;
    --text-color-link-visited: #47cfe9;
    --text-color-link: #47cfe9;
    --text-color-warning-message: #7f0a00;
    --text-decoration-link: none;
    --text-shadow-color-highlighted-text: #1be29e;
    --total-content-width: 87vw;
    --transition-time-default: 720ms;
}

/** Resets **/

*, *::before, *::after {
    box-sizing: border-box;
}

/** Generic **/

body {
    background: var(--background-color-body-default);
    color: var(--text-color-default);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
}

.rr-docs-container h1 {
    text-align: center;
}

.rr-docs-container h3, 
.rr-docs-container h1 {
    line-height: 2rem;
    font-family: var(--font-family-code);
}

.rr-docs-container h3 {
    border-left: 0.68rem double var(--border-color-headers);
    border-right: 0.68rem double var(--border-color-headers);
    border-radius: 5%;
    padding-left: var(--margin-note-right-left);
}

/** Container Styles**/

.rr-docs-container {
    background: var(--background-color-docs-container);
}

.rr-docs-output {
    background: var(--background-color-docs-output);
    max-width: var(--total-content-width);
    margin: var(--margin-centered);
}

.rr-docs-plaintext {
    background: var(--background-color-docs-plaintext);
    overflow: auto;
    margin-bottom: 1rem;
    padding: 0 var(--margin-note-right-left);
}

.rr-docs-logo {
    background: var(--background-color-docs-logo);
}

.rr-docs-rig-menu {
    background: var(--background-color-docs-rig-menu);
    font-family: var(--font-family-code);
}

.rr-docs-code-ml-container {
    background: var(--background-color-docs-code-ml-container);
    overflow: auto;
    padding-bottom: 2rem;
}

.rr-docs-note-container {
    font-size: calc(var(--font-size-default) / 2);
    background: var(--background-color-note-container);
    padding: var(--padding-note-container-default);
    overflow: hidden;
    margin: 0.5rem var(--margin-note-right-left) 0 var(--margin-note-right-left);
    border-bottom: 1px solid var(--background-color-docs-plaintext);
    transition:
        overflow var(--transition-time-default),
        padding var(--transition-time-default),
        font-size var(--transition-time-default),
        background var(--transition-time-default);
}

.rr-docs-note-container:hover {
    overflow: auto;
    padding: var(--padding-note-container-hover);
    background: #070802;
    font-size: calc(var(--font-size-default) / 1.7);
}

.rr-docs-grid-30-70 {
    background: var(--background-color-docs-grid-30-70);
    display: grid;
    grid-template-columns: 30% 70%;
}

/** Text Styles **/


.rr-docs-tiny-msg {
    color: var(--text-color-docs-tiny-msg);
}

.rr-docs-warning {
    color: var(--text-color-warning-message);
}


.rr-docs-code {
    color: var(--text-color-docs-code);
}


.rr-docs-code-ml {
    color: var(--text-color-docs-code-ml);
}

/** Media Elements **/

.rr-docs-video {
    max-width: 100%;
}

.rr-docs-logo img {
    border-radius: 50%;
    max-width: 7vw;
    margin-top: 1rem;
    margin-left: 2rem;
    height: auto;
}

/** Browser Elements **/

::selection {
    background: var(--background-color-docs-code-ml-container);
    color: var(--text-color-link-active);
    text-shadow: 1px 1px var(--text-shadow-color-highlighted-text);
}

::-webkit-scrollbar {
   width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--background-color-body-default);
}


::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
    border: 0.25rem solid var(--background-color-body-default);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-link-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--text-color-link-active);
}

/** Links **/

.rr-docs-container a {
    color: var(--text-color-link);
    text-decoration: var(--text-decoration-link);
    transition: color 420ms;
}

.rr-docs-container a:link {
    color: var(--text-color-link);
    text-decoration: var(--text-decoration-link);
}

.rr-docs-container a:visited {
    color: var(--text-color-link-visited);
}

.rr-docs-container a:hover {
    color: var(--text-color-link-hover);
    text-shadow: 2px 2px var(--background-color-body-default);
    border-bottom: 0.2rem solid var(--text-color-link-active);
}

.rr-docs-container a:active {
    color: var(--text-color-link-active);
}

/** Sticky Elements **/

.rr-docs-sticky-top {
    position: sticky;
    top: 0;
    opacity: .967;
    z-index: 10000;
    border-bottom: 0.7rem solid var(--background-color-body-default);
}

/** Menus **/

.rr-docs-rig-menu {
    text-align: right;
}

.rr-docs-rig-menu li {
    display: inline;
    padding-right: 2rem;
    font-size: calc(var(--font-size-default) / 1.242);
}

.rr-docs-rig-menu ul {
    list-style-type: none;
}
